<div class="row">
  <div class="col-sm-4">
  <%= form_for session, url: '/create_session' do |f| %>
    <% if session.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(session.errors.count, "error") %> prohibited this session from being saved:</h2>

        <ul>
        <% session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>

    <%= f.submit class: 'btn btn-default' %>
  <% end %>
  </div>
</div>