<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.select :category_id, @categories_options, class: 'form-control', selected: post.category && post.category.id %>
  </div>

  <div class="form-group">
    <%= f.label :tags, 'Tags (space seperated)'  %>
    <%= f.text_field :tags, class: 'form-control', value: post.tags && post.tags.map {|t| t.key }.join(' ') %>
  </div>

  <div class="form-group">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>

  <%= f.submit class: 'btn btn-lg btn-success' %>
<% end %>
