<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<ul class="list-group">
  <li class="list-group-item">
    <strong><small>
    <div class="row">
      <div class="col-sm-1">#</div>
      <div class="col-sm-2">Title</div>
      <div class="col-sm-3">Body</div>
      <div class="col-sm-2">Category</div>
      <div class="col-sm-4">Actions</div>
    </div>
    </strong></small>
  </li>
  <% @posts.each do |post| %>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-1">
        <%= post.id %>
      </div>
      <div class="col-sm-2">
        <%= post.title %>
      </div>
      <div class="col-sm-3">
        <%= post.body %>
      </div>
      <div class="col-sm-2"><%= post.category.title %></div>
      <div class="col-sm-4">
        <%= link_to 'Show', post %> |
        <%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </li>
  <% end %>
</ul>

<br>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
