<p id="notice"><%= notice %></p>
<dl>
  <dt>ID</dt>
  <dd><%= @post.id %></dd>
  <dt>Title</dt>
  <dd><%= @post.title %></dd>
  <dt>Body</dt>
  <dd><%= @post.body %></dd>
  <dt>Category</dt>
  <dd><%= @post.category && @post.category.title %></dd>
  <dt>Tags</dt>
  <dd><%= @post.tags.length > 0 ? @post.tags.map {|t| t.key }.join(', ') : '-' %></dd>
  <dt>Published <i class="fa fa-<%= @post.published ? 'check' : 'times' %>" aria-hidden="true"></i></dt>
</dl>

<nav aria-label="...">
  <ul class="pager" style="text-align: left;">
    <li class="">
      <%= link_to edit_post_path(@post) do %>
        <i class="fa fa-edit"></i> Edit</a>
      <% end %>
    </li>
    <li class="">
      <%= link_to posts_path do %>
        <i class="fa fa-chevron-left"></i> Back</a>
      <% end %>
  </ul>
</nav>
