<p id="notice"><%= notice %></p>
<dl>
  <dt>ID</dt>
  <dd><%= @category.id %></dd>
  <dt>Title</dt>
  <dd><%= @category.title %></dd>
  <dt>Body</dt>
  <dd><%= @category.body %></dd>
  <dt>Published <i class="fa fa-<%= @category.published ? 'check' : 'times' %>" aria-hidden="true"></i></dt>
</dl>

<nav aria-label="...">
  <ul class="pager" style="text-align: left;">
    <li class="">
      <%= link_to edit_category_path(@category) do %>
        <i class="fa fa-edit"></i> Edit</a>
      <% end %>
    </li>
    <li class="">
      <%= link_to categories_path do %>
        <i class="fa fa-chevron-left"></i> Back</a>
      <% end %>
  </ul>
</nav>
